.ScrollableLeft{
    overflow-y: scroll;
    max-height: 30rem;
    border-radius: 15px;
}

.TableHead{
    position: sticky;
    top: 0;
    border: 2px transparent solid;
}

.TableHeadElement{
    background-color: rgb(98, 99, 100) !important;
}